<mat-horizontal-stepper linear #stepper>
	<mat-step [stepControl]="frmStepOne">
    Form: {{frmStepOne}}
		<ng-template matStepLabel>Step One Details</ng-template>
		<step-one-component #StepOneComponent></step-one-component>
	</mat-step>
	<mat-step [stepControl]="frmStepTwo">
		<ng-template matStepLabel>Step Two Details</ng-template>
		<step-two-component></step-two-component>
	</mat-step>
	<mat-step [stepControl]="frmStepThree">
		<ng-template matStepLabel>Step Three Details</ng-template>
		<step-three-component></step-three-component>
	</mat-step>
</mat-horizontal-stepper>